/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  /*background-color: #0d1117;*/
  background: radial-gradient(circle at center, #2b3f5e, #0d1117);
  color: white;
}

/* SECTION 1: HEADER */
header {
  position: fixed;
  background: transparent;
  backdrop-filter: blur(2px);
  width: 100%;
  
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* SECTION 2: HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  gap: 40px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-img img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

/* SECTION 3: BIODATA */
.biodata {
  padding: 60px 40px;
  background-color: #161b22;
}

.biodata h2 {
  text-align: center;
  margin-bottom: 30px;
}

.biodata-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.box {
  background-color: #0d1117;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

/* SECTION 4: PORTFOLIO */
.portfolio {
  padding: 60px 40px;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 30px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #161b22;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 15px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .biodata-grid,
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}
