body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(68, 68, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

nav {
    display: flex;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}
